.Side
  = link_to root_path do
    .Side__link
      トップ

  = link_to edit_store_path(1) do
    .Side__link
      店舗情報編集

  = link_to "#" do
    .Side__link
      メニュー

  -# モーダル
  = link_to "#" do
    .Side__link
      カテゴリー

  = link_to "#" do
    .Side__link
      レビュー一覧

  = link_to "#" do
    .Side__link
      注文一覧

  = link_to "#" do
    .Side__link
      売上

  = link_to "#" do
    .Side__link
      ログアウト
