= render "management/template/header"
.wrapper
  = render "management/template/side"
  .Main
    .info
      %ul
        %li= @store.zipcode
        %li= @store.address
        %li= @store.tel
    = render "layouts/gmap"
